<!DOCTYPE generatorConfiguration PUBLIC
        "-//mybatis.org//DTD MyBatis Generator Configuration 1.0//EN"
        "http://mybatis.org/dtd/mybatis-generator-config_1_0.dtd">
<generatorConfiguration>
    <context id="simple" targetRuntime="MyBatis3">
        <!-- default configuration -->
        <property name="autoDelimitKeywords" value="true"/>
        <property name="beginningDelimiter" value="`"/>
        <property name="endingDelimiter" value="`"/>
        <property name="javaFileEncoding" value="UTF-8"/>

        <!-- default plugins -->
        <plugin type="cc.cc1234.mybatis.plugin.DisableExamplePlugin"/>
        <plugin type="cc.cc1234.mybatis.plugin.MapperXmlNameCustomizePlugin"/>
        <plugin type="cc.cc1234.mybatis.plugin.NullSafePlugin">
            <property name="ignoreColumns"
                      value="*.create_time,*.update_time,*.create_at,*.active_from,*.active_to,*.operation_time,point_rule.start_time,point_rule.end_time,*.event_properties,*.reward,*."/>
            <property name="addOptionalGetter" value="true"/>
            <property name="addSpringNullableAnnotation" value="true"/>
        </plugin>
        <plugin type="cc.cc1234.mybatis.plugin.LombokPlugin"/>

        <commentGenerator>
            <property name="addRemarkComments" value="true"/>
            <property name="suppressDate" value="true"/>
        </commentGenerator>

        <jdbcConnection driverClass="com.mysql.cj.jdbc.Driver"
                        connectionURL="jdbc:mysql://localhost:3306/mybatis_continuous_generator_demo"
                        userId="root"
                        password="123456">
            <property name="nullCatalogMeansCurrent" value="true"/>
        </jdbcConnection>
        <javaTypeResolver>
            <property name="useJSR310Types" value="true"/>
        </javaTypeResolver>

        <!-- custom configuration -->
        <javaModelGenerator targetPackage="${mybatis.generator.model.package}"
                            targetProject="${mybatis.generator.javaProjectDir}"/>
        <sqlMapGenerator targetPackage="${mybatis.generator.mapper.package}"
                         targetProject="${mybatis.generator.javaResourceDir}"/>
        <!--        <javaClientGenerator type="XMLMAPPER" targetPackage="${mybatis.generator.mapper.package}"-->
        <!--                             targetProject="${mybatis.generator.javaProjectDir}"/>-->

        <table tableName="%">
        </table>
        <!-- Table Configuration -->
        <table tableName="user"
               delimitIdentifiers="false">
            <columnOverride column="gender" javaType="cc.cc1234.dao.enums.Gender"
                            typeHandler="org.apache.ibatis.type.EnumTypeHandler"/>
        </table>
    </context>
</generatorConfiguration>